#bento
{
  border: 5px solid darkgrey;
  height: 32.5em;
  width: 50em;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.box
{
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}


h1
{
  color: white;
  font-size: 2em;
  font-family: monospace;

}

.box1
{
  background: lightgray;
  height: 10em;
  width: 13em;


}

.box2
{
  background: lightblue;
  height: 22.5em;
  width: 13em;




}

.box3
{
  background: red;
  height: 10.5em;
  width: 18em;

}

.box4
{
  background: green;
  height: 10.5em;
  width: 18em;
}

.box5
{
  background: pink;
  height: 10.5em;
  width: 18em;
}

.box6
{
  background: orange;
  height: 17.5em;
  width: 18em;
}

.box7
{
  background: black;
  height: 15em;
  width: 18em;
}
